langchain-aws==0.2.17
langchain-community==0.3.5
opensearch-py==2.2.0
requests_aws4auth==1.2.2
pydantic==2.11.1
datamodel-code-generator==0.26.2
langchain-openai==0.3.7
cachetools==5.5.2
# TODO: remove below library and invoke another lambda for hosting MCP servers and return all tools in langchain tool format
langchain-mcp-adapters==0.0.8
mcp==1.6.0
